body{
    margin: 0px;
    padding: 0px;
    background: rgb(2,0,36);
background: linear-gradient(20deg, rgba(2,0,36,1) 0%, rgba(119,151,210,1) 100%, rgba(0,212,255,1) 100%);

}
h1{
    color: blanchedalmond;
    padding: 5px;
    margin: 10px;
}


#navbar{
    background:green;
}
#navbar a{
    color: aquamarine;
}


#about-me{
    background-image: linear-gradient(gray);
    text-align: center;
}
.pretty-me{
    width: 200px;
    height: 300px;
    border: 10px rgba(0,212,255,1);
}


ul li{
    list-style: none;
}

ul li::before{
    content: "_";
}


.secondary-titles{
    background: fuchsia;
    width: 300px;
    height: 100px;
    text-align: center;
    border-radius: 50px;
    
}


.secondary-titles:hover{
    background: whitesmoke;
    box-shadow: 50px greenyellow
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
    width: 300px;
    height: 100px;
    border: 10px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#contact{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
